<h1><%= @event.type %></h1>

<h4><a href="/events">Events Home</a></h4>

<p>Max Capacity: <%= @event.max_capacity %></p>
<p>Confirmed Bookings: <%= @event.confirmed_bookings_count %></p>


<div class="event-edit-confirm-delete">
  <table class="event-edit-confirm-delete">
    <td class="event-edit-confirm-delete">
      <button type="button" class="edit-button">
        <a class="edit-button-link" href="/events/<%=@event.id%>/edit">Edit Event</a>
      </button>
    </td>
    <td class="event-edit-confirm-delete">
      <button type="button" class="add-button">
        <a class="add-button-link" href="/events/new">Add New Event</a>
      </button>
    </td>
    <td class="event-edit-confirm-delete">
      <form action="/events/<%=@event.id%>/delete" method="post">
        <input type="submit" value="Delete Event" class="delete-button">
      </form>
    </td>
  </table>
</div>

<div class="bookings-table">
<% if @event.members_attending_and_their_booking_ids.count != 0%>
<table class="all-bookings">
  <tr>
    <th class="table-head" colspan="2">All Bookings</th>
  </tr>
  <tr>
    <th>Booking Reference</th>
    <th>Member</th>
  </tr>
  <% for member in @event.members_attending_and_their_booking_ids %>

  <tr>
    <td><a href="/bookings/<%=member['booking_id'].to_i%>"><%=member['booking_id']%></a></td>
    <td><a href="/members/<%=member['member_id'].to_i%>"><%=member['first_name']%> <%=member['last_name']%></a></td>
  </tr>
  <% end %>
</table>
<% end %>

<% if @event.confirmed_members_attending_and_their_booking_ids.count != 0 %>

<table class="confirmed-bookings">
  <tr>
    <th class="table-head" colspan="2">Confirmed Bookings</th>
  </tr>
  <tr>
    <th>Booking Reference</th>
    <th>Member</th>
  </tr>
  <% for member in @event.confirmed_members_attending_and_their_booking_ids %>
  <tr>
    <td><a href="/bookings/<%=member['booking_id'].to_i%>"><%=member['booking_id']%></a></td>
    <td><a href="/members/<%=member['member_id'].to_i%>"><%=member['first_name']%> <%=member['last_name']%></a></td>
  </tr>
  <% end %>
</table>
<% end %>

<% if @event.unconfirmed_members_attending_and_their_booking_ids.count != 0 %>
<table class="unconfirmed-bookings">
  <tr>
    <th class="table-head" colspan="2">Unconfirmed Bookings</th>
  </tr>
  <tr>
    <td>Booking Reference</td>
    <td>Member</td>
  </tr>
  <% for member in @event.unconfirmed_members_attending_and_their_booking_ids %>
  <tr>
    <td><a href="/bookings/<%=member['booking_id']%>"><%= member['booking_id'].to_i%></a></td>
    <td><a href="/members/<%=member['member_id']%>"><%= member['first_name']%> <%= member['last_name']%></a></td>
  </tr>
  <% end %>
</table>
<% end %>
</div>
