<h2>All Members</h2>

<h4><a href="/members/new">Add New Member</a></h4>

<div class="search-bar">
  <form action="/members" method="get">
    <input class="search-bar" type="text" name="first_name" name="last_name">
    <input type="submit" name="search" value="Search for Member ">
  </form>
</div>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>All Bookings</th>
    <th>Confirmed Bookings</th>
    <th></th>
    <th></th>
  </tr>
  <% for member in @members %>
  <tr>
    <td><%= member.first_name %></td>
    <td><%= member.last_name %></td>
    <td><%= member.all_bookings_count%></td>
    <td><%= member.all_confirmed_bookings_count %></td>
    <td><a href="/members/<%= member.id %>">More Details</a></td>
    <td><a href="/bookings/<%= member.id %>/new">Add New Booking</a></td>
  </tr>
  <% end %>
</table>
