<h1><%= @member.pretty_name %></h1>

<nav>
  <a href="/e29-social-club/members">Member Home</a>
</nav>

<p>First Name: <%= @member.first_name %></p>
<p>Last Name: <%= @member.last_name %></p>
<p>Confirmed Bookings: <%= @member.all_confirmed_bookings_count %></p>

<p><a href="/e29-social-club/members/<%=@member.id%>/edit">Edit Member Details</a></p>
<form action="/e29-social-club/members/<%=@member.id%>/delete" method="post">
  <input type="submit" value="Delete Member">
</form>

<% if @events_and_id != nil %>
  <h3>Events Attending:</h3>
    <table>
        <tr>
          <th>Event Name</th>
          <th>Booking Reference</th>
        </tr>
      <% for event in @events_and_id %>
        <tr>
          <td><a href="/e29-social-club/events/<%=event['event_id'].to_i%>"><%=event['event_name']%></a></td>
          <td><a href="/e29-social-club/bookings/<%=event['booking_id'].to_i%>"><%=event['booking_id']%></a></td>
        </tr>
      <% end %>
    </table>
<% end %>
