<h1><%= @member.pretty_name %></h1>

<h4><a href="/e29-social-club/members">Member Home</a></h4>

<p>First Name: <%= @member.first_name %></p>
<p>Last Name: <%= @member.last_name %></p>
<p>All Bookings: <%= @member.all_bookings_count %></p>
<p>Confirmed Bookings: <%= @member.all_confirmed_bookings_count %></p>

<div class="edit-add-delete">
  <table>
    <td>
      <button type="button" class="edit-button">
        <a class="edit-button-link" href="/e29-social-club/members/<%=@member.id%>/edit">Edit Member Details</a>
      </button>
    </td>
    <td>
      <button type="button" class="add-button">
        <a class="add-button-link" href="/e29-social-club/bookings/<%=@member.id%>/new">Add New Booking</a>
      </button>
    </td>
    <td>
      <form action="/e29-social-club/members/<%=@member.id%>/delete" method="post">
        <input type="submit" value="Delete Member">
      </form>
    <td/>
  </table>
</div>

<div class="bookings-table" colspan="2">
<% if @events_and_id.count != 0 %>
<table>
  <tr>
    <th class="table-head" colspan="2">All Bookings</th>
  </tr>
  <tr>
    <th>Event Name</th>
    <th>Booking Reference</th>
  </tr>
  <% for event in @events_and_id %>
  <tr>
    <td><a href="/e29-social-club/events/<%=event['event_id'].to_i%>"><%=event['event_name']%></a></td>
    <td><a href="/e29-social-club/bookings/<%=event['booking_id'].to_i%>"><%=event['booking_id']%></a></td>
  </tr>
  <% end %>
</table>
<% end%>

<% if @confirmed_events_and_id.count != 0 %>
<table>
  <tr>
    <th class="table-head" colspan="2">Confirmed Bookings</th>
  </tr>
  <tr>
    <th>Event Name</th>
    <th>Booking Reference</th>
  </tr>
    <% for event in @confirmed_events_and_id %>
    <tr>
      <td><a href="/e29-social-club/events/<%=event['event_id'].to_i%>"><%=event['event_name']%></a></td>
      <td><a href="/e29-social-club/bookings/<%=event['booking_id'].to_i%>"><%=event['booking_id']%></a></td>
    </tr>
    <% end %>
  </table>
<%end%>
</div>
