<h1><%= @member.pretty_name %></h1>

<nav>
  <a href="/e29-social-club/members">Member Home</a>
</nav>

<p>First Name: <%= @member.first_name %></p>
<p>Last Name: <%= @member.last_name %></p>
<p>Attendance Count: <%= @member.attendance_count %></p>

<p><a href="/e29-social-club/members/<%=@member.id%>/edit">Edit Member Details</a></p>
<form action="/e29-social-club/members/<%=@member.id%>/delete" method="post">
  <input type="submit" value="Delete Member">
</form>

<h3>Events Attending:</h3>

<table>
  <tr>
    <th>Event Name</th>
    <th>Booking Reference</th>
  </tr>
  <% for event in @events %>
  <tr>
    <td><a href="/e29-social-club/events/<%=event.id%>"><%=event.type%></a></td>
  </tr>
  <% end %>
  <% for booking in @bookings %>
    <td><a href="/e29-social-club/bookings/<%=booking.id%>"><%=booking.id%></a></td>
  <% end %>

</table>
