<h1><%= @member.pretty_name %></h1>

<nav>
  <a href="/e29-social-club/members">Member Home</a>
</nav>

<p>First Name: <%= @member.first_name %></p>
<p>Last Name: <%= @member.last_name %></p>
<p>Attendance Count: <%= @member.attendance_count %></p>

<p><a href="/e29-social-club/members/<%=@member.id%>/edit">Edit Member Details</a></p>
<form action="/e29-social-club/members/<%=@member.id%>/delete" method="post">
  <input type="submit" value="Delete Member">
</form>
