<h1>Edit Booking <% @booking.id %></h1>

<nav>
  <a href="/e29-social-club/bookings">Bookings Home</a>
</nav>

<form action="/e29-social-club/bookings/<%=@booking.id%>" method="post">
  Member:
  <select name="member_id">
    <option value="<%= @booking.member.pretty_name %>"><%=@booking.member.pretty_name%></option>

    <% for member in @all_members %>
      <% if member.pretty_name != @booking.member.pretty_name %>
        <option value="<%= member.id %>"><%= member.pretty_name %></option>
      <% end %>
    <% end %>
  </select>

  Event:
  <select name="event_id">
    <option value="<%=@booking.event.type%>"><%= @booking.event.type %></option>

    <% for event in @all_events %>
      <% if event.type != @booking.event.type %>
        <option value="<%= event.id %>"><%= event.type %></option>
      <% end %>
    <% end %>
  </select>
  <input type="submit" value="Update">
</form>
<footer>
  <a href="/e29-social-club/bookings/<%=@booking.id%>">Back to Booking Details</a>
</footer>
