<h1>Edit Booking <% @booking.id %></h1>

<nav>
  <a href="/e29-social-club/bookings">Bookings Home</a>
</nav>

<form action="/e29-social-club/bookings/<%=@booking.id%>" method="post">

  <select name="member-id">
    <option value="<%= @booking.member.pretty_name %>"><%=@booking.member.pretty_name%></option>

    <% for member in @all_members %>
      <% if member.pretty_name != @booking.member.pretty_name %>
        <option value="<%= member.id %>"><%= member.pretty_name %></option>
      <% end %>
    <% end %>
  </select>

  <label for="event-id">Event</label>
  <input type="text" name="event_id" value="<%=@booking.event.type%>">

  <input type="submit" value="Update">
</form>
<footer>
  <a href="/e29-social-club/bookings/<%=@booking.id%>">Back to Booking Details</a>
</footer>
