<h1>Edit Booking <% @booking.id %></h1>

<h4><a href="/bookings">Bookings Home</a></h4>


<form action="/bookings/<%=@booking.id%>" method="post">
  Member:
  <select name="member_id">
    <option value="<%= @booking.member.id %>"><%=@booking.member.pretty_name%></option>

    <% for member in @all_members %>
      <% if member.pretty_name != @booking.member.pretty_name %>
        <option value="<%= member.id %>"><%= member.pretty_name %></option>
      <% end %>
    <% end %>
  </select>

  Event:
  <select name="event_id">
    <option value="<%=@booking.event.id%>"><%= @booking.event.type %></option>

    <% for event in @all_events %>
      <% if event.type != @booking.event.type %>
        <option value="<%= event.id %>"><%= event.type %></option>
      <% end %>
    <% end %>
  </select>
  <input type="submit" value="Update">
</form>


<footer>
  <a href="/bookings/<%=@booking.id%>">Back to Booking Details</a>
</footer>
