<h1>All Bookings</h1>

<nav>
  <a href="/e29-social-club/bookings/new">Add New Booking</a>
</nav>
<table>
  <tr>
    <th>Booking Reference Number</th>
    <th>Member</th>
    <th>Event</th>
    <th>Booking Status</th>
    <th></th>
  </tr>

  <% for booking in @bookings %>
  <tr>
    <td><%=booking.id%></td>
    <td><%=booking.member.pretty_name%></td>
    <td><%=booking.event.type%></td>
    <td><%=booking.confirmed ? "Confirmed" : "Pending"%></td>
    <td><a href="/e29-social-club/bookings/<%=booking.id%>">More Details</a></td>
  </tr>
  <% end %>
</table>
