<h2>All Bookings</h2>

<h4><a href="/bookings/new">Add New Booking</a></h4>

<table id="bookings">
  <tr>
    <th>Booking<br>
      Reference Number</th>
    <th>Member</th>
    <th>Event</th>
    <th>Booking Status</th>
    <th></th>
    <th>Payment</th>
    <th></th>
    <th></th>
  </tr>

  <% for booking in @bookings %>
  <tr>
    <td><%=booking.id%></td>
    <td><a href="/members/<%=booking.member.id%>"><%=booking.member.pretty_name%></a></td>
    <td><a href="/events/<%=booking.event.id%>"><%=booking.event.type%></a></td>
    <td><%=booking.confirmed ? "Confirmed" : "Pending"%></td>
    <td>
      <% if booking.confirmed == false %>
        <form action="/bookings/<%=booking.id%>/confirm" method="post">
          <input type="submit" value="Confirm Booking">
        </form>
      <% end %>
    </td>
    <td><%=booking.paid ? "Paid" : "Unsettled" %></td>
    <td>
      <% if (booking.paid == false) && (booking.confirmed == true) %>
      <form action="/bookings/<%=booking.id%>/paid" method="post">
        <input type="submit" value="Payment Received">
      </form>
      <% end %>
    </td>
    <td><a href="/bookings/<%=booking.id%>">More Details</a></td>
  </tr>
  <% end %>
</table>
