<h2>All Bookings</h2>

<h4><a href="/e29-social-club/bookings/new">Add New Booking</a></h4>

<table id="bookings">
  <tr>
    <th>Booking Reference Number</th>
    <th>Member</th>
    <th>Event</th>
    <th>Booking Status</th>
    <th colspan="2"></th>
  </tr>

  <% for booking in @bookings %>
  <tr>
    <td><%=booking.id%></td>
    <td><%=booking.member.pretty_name%></td>
    <td><%=booking.event.type%></td>
    <td><%=booking.confirmed ? "Confirmed" : "Pending"%></td>
    <td><a href="/e29-social-club/bookings/<%=booking.id%>">More Details</a></td>
    <td>
      <% if booking.confirmed == false %>
        <form action="/e29-social-club/bookings/<%=booking.id%>/confirm" method="post">
          <input type="submit" value="Confirm Booking">
        </form>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
