<h1>Create New Booking</h1>

<nav>
  <a href="/e29-social-club/bookings">Bookings Home</a>
</nav>

<form action="/e29-social-club/bookings" method="post">
  Member:
  <select name="member_id">
    <% for member in @all_members %>
      <option value="<%= member.id%>"<%= "selected" if @member_in_question != nil && member.id == @member_in_question.id %>><%= member.pretty_name %></option>
    <% end %>
  </select>

  Event:
  <select name="event_id">
    <% for event in @all_events %>
      <% if event.has_spaces? %>
        <option value="<%= event.id %>"><%= event.type %></option>
      <% end %>
    <% end %>
  </select>

  <input type="submit" value="Add Booking">
</form>
