<h1>Booking Reference Number: <%=@booking.id%></h1>

<h4><a href="/e29-social-club/bookings">Bookings Home</a></h4>


<p>Member: <a href="/e29-social-club/members/<%=@booking.member.id%>"><%=@booking.member.pretty_name%></a></p>
<p>Event: <a href="/e29-social-club/event/<%=@booking.event.id%>"><%=@booking.event.type%></a></p>
<p>Status:
  <% if @booking.confirmed != true %>
    Pending
  <% else %>
    Confirmed
  <% end %>
</p>

<a href="/e29-social-club/bookings/<%=@booking.id%>/edit">Edit Booking Details</a>

<form action="/e29-social-club/bookings/<%=@booking.id%>/confirm" method="post">
  <input type="submit" value="Confirm Booking">
</form>

<form action="/e29-social-club/bookings/<%=@booking.id%>/delete" method="post">
  <input type="submit" value="Delete Booking">
</form>
