<h1>Booking Reference Number: <%=@booking.id%></h1>

<nav>
  <a href="/e29-social-club/bookings">Bookings Home</a>
</nav>

<p>Member: <%=@booking.member.pretty_name%></p>
<p>Event: <%=@booking.event.type%></p>

<a href="/e29-social-club/bookings/<%=@booking.id%>/edit">Edit Booking Details</a>

<form action="/e29-social-club/bookings/<%=@booking.id%>/delete" method="post">
  <input type="submit" value="Delete Booking">
</form>
