<h1>Booking Reference Number: <%=@booking.id%></h1>

<h4><a href="/bookings">Bookings Home</a></h4>


<p>Member: <a href="/members/<%=@booking.member.id%>"><%=@booking.member.pretty_name%></a></p>
<p>Event: <a href="/event/<%=@booking.event.id%>"><%=@booking.event.type%></a></p>
<p>Booking Status:
  <% if @booking.confirmed != true %>
    Pending
  <% else %>
    Confirmed
  <% end %>
</p>
<p>Payment:
  <% if @booking.paid != true %>
    Unsettled
  <% else %>
    Paid
  <% end %>
</p>

<div class="edit-confirm-delete">
  <table class="booking-edit-confirm-delete">
    <td class="booking-edit-confirm-delete">
      <button type="button" class="edit-button">
        <a class="edit-button-link" href="/bookings/<%=@booking.id%>/edit">Edit Booking Details</a>
      </button>
    </td>
    <% if @booking.confirmed != true %>
    <td class="booking-edit-confirm-delete">
      <form action="/bookings/<%=@booking.id%>/confirm" method="post">
        <input type="submit" value="Confirm Booking">
      </form>
    </td>
    <% end %>
    <% if @booking.confirmed != false %>
    <td class=booking-edit-confirm-delete>
      <form action="/bookings/<%=@booking.id%>/paid" method="post">
        <input type="submit" value="Confirm Payment">
      </form>
    </td>
    <% end %>
    <td class="booking-edit-confirm-delete">
      <form action="/bookings/<%=@booking.id%>/delete" method="post">
        <input type="submit" value="Delete Booking" class="delete-button">
      </form>
    </td>
    </table>
  </div>
